nodered_esport_flow.json
[
  {
    "id": "c69d61469f4992a3",
    "type": "mqtt in",
    "z": "901e6a7f0d50134d",
    "name": "iot_01",
    "topic": "iot_01",
    "qos": "2",
    "datatype": "utf8",
    "broker": "0cbacd0ccf0b3eae",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 230,
    "y": 480,
    "wires": [["3538dbc75db41b90"]]
  },
  {
    "id": "3538dbc75db41b90",
    "type": "json",
    "z": "901e6a7f0d50134d",
    "name": "",
    "property": "payload",
    "action": "obj",
    "pretty": false,
    "x": 390,
    "y": 480,
    "wires": [["87ca32e5e7acde6f"]]
  },
  {
    "id": "aaf480fc9c9d786b",
    "type": "debug",
    "z": "901e6a7f0d50134d",
    "name": "debug_01",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 800,
    "y": 460,
    "wires": []
  },
  {
    "id": "999f1356104880cd",
    "type": "influxdb out",
    "z": "901e6a7f0d50134d",
    "influxdb": "d0936dcf35630414",
    "name": "infrastructure",
    "measurement": "measurements",
    "precision": "",
    "retentionPolicy": "",
    "database": "database",
    "precisionV18FluxV20": "ms",
    "retentionPolicyV18Flux": "",
    "org": "ZHU_ZARNA",
    "bucket": "infrastructure",
    "x": 810,
    "y": 500,
    "wires": []
  },
  {
    "id": "87ca32e5e7acde6f",
    "type": "function",
    "z": "901e6a7f0d50134d",
    "name": "Converting",
    "func": "let date = new Date()\ndate.setTime(date.getTime() + (1 * 60 * 60 * 1000));\nlet payload=msg.payload\n\nmsg.payload = [{\n    timestamp: date.valueOf(),\n    temperature: payload.temperature,\n    // temperature:parseFloat((Math.random() * (26 - 22) + 22).toFixed(2)),\n    humidity: payload.humidity,\n    // humidity:parseFloat((Math.random() * (66 - 44) + 44).toFixed(2)),\n    dew_point: payload.dew_point,\n    // light:parseFloat((Math.random() * (500 - 440) + 440).toFixed(2)),\n},\n{\n    location1:payload.location1,\n    location2:payload.location2,\n    device:payload.device_id,\n    device_id:payload.device_name\n}];\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 570,
    "y": 480,
    "wires": [["aaf480fc9c9d786b", "999f1356104880cd"]]
  },
  {
    "id": "0cbacd0ccf0b3eae",
    "type": "mqtt-broker",
    "name": "Mosquitto",
    "broker": "mosquitto",
    "port": "1883",
    "clientid": "",
    "autoConnect": true,
    "usetls": false,
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true,
    "autoUnsubscribe": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthRetain": "false",
    "birthPayload": "",
    "birthMsg": {},
    "closeTopic": "",
    "closeQos": "0",
    "closeRetain": "false",
    "closePayload": "",
    "closeMsg": {},
    "willTopic": "",
    "willQos": "0",
    "willRetain": "false",
    "willPayload": "",
    "willMsg": {},
    "userProps": "",
    "sessionExpiry": ""
  },
  {
    "id": "d0936dcf35630414",
    "type": "influxdb",
    "hostname": "127.0.0.1",
    "port": "8086",
    "protocol": "http",
    "database": "database",
    "name": "InfluxDB_conn",
    "usetls": false,
    "tls": "",
    "influxdbVersion": "2.0",
    "url": "http://192.168.1.143:8086",
    "timeout": "10",
    "rejectUnauthorized": false
  }
]
